In [156]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression as lr 
from sklearn.ensemble import RandomForestClassifier as rfc 
from sklearn.svm import LinearSVC as lsvc

In [157]:
#read the winner and losers files into 2 seperate dataframes for winners and losers

wPATH = "https://raw.githubusercontent.com/Canadiak/Deerhacks-Web-Scraping/master/csv_folder/winner_{0}.txt"
lPATH = "https://raw.githubusercontent.com/Canadiak/Deerhacks-Web-Scraping/master/csv_folder/loser_{0}.txt"
winners = pd.read_csv(wPATH.format(1990), usecols=range(53))
losers  = pd.read_csv(lPATH.format(1990), usecols=range(53))
for i in range(1991, 2020):
  winners = winners.append(pd.read_csv(wPATH.format(i), usecols=range(53)), ignore_index=True)
  losers = losers.append(pd.read_csv(lPATH.format(i), usecols=range(53)), ignore_index=True)

In [158]:
winners

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,TOV%,ORB%,FT/FGA,eFG%2,TOV%2,DRB%,FT/FGA2,Arena,Attend,Attend./G
0,11,Detroit Pistons*,82,19805,42.8,89.6,0.478,2.3,6.9,0.327,...,13.4,34.2,0.245,NaN,0.461,13.7,70.3,0.262,NaN,The Palace of Auburn Hills
1,11,Detroit Pistons*,82,19805,42.8,89.6,0.478,2.3,6.9,0.327,...,13.4,34.2,0.245,NaN,0.461,13.7,70.3,0.262,NaN,The Palace of Auburn Hills
2,9,Portland Trail Blazers*,82,19880,42.2,89.1,0.473,2.2,6.7,0.336,...,13.4,36.5,0.269,NaN,0.479,15.2,70.8,0.265,NaN,Memorial Coliseum
3,5,Chicago Bulls*,82,19830,44.2,88.7,0.498,3.1,8.4,0.374,...,13.4,31.9,0.235,NaN,0.508,15.2,68.1,0.262,NaN,Chicago Stadium
4,11,Detroit Pistons*,82,19805,42.8,89.6,0.478,2.3,6.9,0.327,...,13.4,34.2,0.245,NaN,0.461,13.7,70.3,0.262,NaN,The Palace of Auburn Hills
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,5,Toronto Raptors*,82,19880,41.7,88.1,0.474,12.2,33.4,0.366,...,12.4,21.9,0.198,NaN,0.509,13.1,77.1,0.190,NaN,Scotiabank Arena
446,6,Denver Nuggets*,82,19730,42.8,91.9,0.466,11.2,32.0,0.351,...,11.9,26.6,0.175,NaN,0.521,12.3,78.0,0.194,NaN,Pepsi Center
447,1,Golden State Warriors*,82,19805,43.4,88.4,0.491,13.1,33.9,0.385,...,12.6,22.5,0.182,NaN,0.508,11.7,77.1,0.205,NaN,Oracle Arena
448,2,Houston Rockets*,82,19830,39.8,88.6,0.449,16.4,46.0,0.356,...,12.0,22.8,0.221,NaN,0.525,13.4,74.4,0.210,NaN,Toyota Center
449,3,Portland Trail Blazers*,82,19855,42.3,90.6,0.467,11.0,30.7,0.359,...,12.1,26.6,0.210,NaN,0.516,11.0,77.9,0.195,NaN,Moda Center

In [159]:
losers

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,TOV%,ORB%,FT/FGA,eFG%2,TOV%2,DRB%,FT/FGA2,Arena,Attend,Attend./G
0,9,Portland Trail Blazers*,82,19880,42.2,89.1,0.473,2.2,6.7,0.336,...,13.4,36.5,0.269,NaN,0.479,15.2,70.8,0.265,NaN,Memorial Coliseum
1,5,Chicago Bulls*,82,19830,44.2,88.7,0.498,3.1,8.4,0.374,...,13.4,31.9,0.235,NaN,0.508,15.2,68.1,0.262,NaN,Chicago Stadium
2,3,Phoenix Suns*,82,19855,42.6,85.7,0.496,2.1,6.5,0.324,...,13.3,31.1,0.302,NaN,0.478,12.8,68.8,0.209,NaN,Arizona Veterans Memorial Coliseum
3,2,Philadelphia 76ers*,82,19805,43.2,88.2,0.489,2.4,6.8,0.348,...,12.9,32.0,0.281,NaN,0.495,13.3,68.4,0.223,NaN,The Spectrum
4,13,New York Knicks*,82,19830,42.3,87.4,0.484,2.9,8.7,0.332,...,14.8,34.2,0.250,NaN,0.482,13.3,66.0,0.215,NaN,Madison Square Garden (IV)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,22,Orlando Magic*,82,19780,41.0,90.4,0.454,11.6,32.6,0.356,...,11.9,22.0,0.168,NaN,0.515,11.8,79.7,0.186,NaN,Amway Center
446,7,San Antonio Spurs*,82,19805,42.8,89.4,0.478,10.0,25.5,0.392,...,11.0,21.0,0.194,NaN,0.528,11.0,79.4,0.170,NaN,AT&T Center
447,9,Los Angeles Clippers*,82,19830,40.3,85.4,0.471,9.8,25.2,0.388,...,12.7,22.0,0.258,NaN,0.514,11.4,76.0,0.224,NaN,STAPLES Center
448,15,Utah Jazz*,82,19755,40.1,85.8,0.468,12.0,33.8,0.356,...,13.4,22.9,0.217,NaN,0.507,12.4,80.3,0.189,NaN,Vivint Smart Home Arena
449,17,Oklahoma City Thunder*,82,19855,41.1,90.6,0.454,11.0,31.5,0.348,...,11.7,26.0,0.190,NaN,0.523,14.4,78.2,0.206,NaN,Chesapeake Energy Arena

In [160]:
#shuffle both datasets using the same indexing so they stay in the same
#relative order. Doing it this way ensures that there's a balance between
#the age of data being assigned to zeros and ones later

idx = np.random.permutation(winners.index)
winners = winners.reindex(idx)
losers = losers.reindex(idx)

In [161]:
#get rid of all null columns
winners = winners.dropna(axis=1)
losers  = losers.dropna(axis=1)

In [162]:
#get rid of all non numeric columns
winners = winners._get_numeric_data()
losers  = losers._get_numeric_data()

In [163]:
#split data in half into zeros and ones. zeros are where the 
#winning team is logged first and ones are where the losing 
#team is logged first.

zeros = winners.iloc[:225, :].sub(losers.iloc[:225, :])
ones  = losers.iloc[225:, :].sub(winners.iloc[225:, :])

In [164]:
zeros['winner'] = 0
zeros

,Rk,G,MP,FG,FGA,FG%,3P,3PA,3P%,2P,...,3PAr,eFG%,TOV%,ORB%,FT/FGA,TOV%2,DRB%,FT/FGA2,Arena,winner
266,10,0,0,-0.8,-1.0,-0.004,1.3,5.0,-0.025,-2.2,...,-0.011,0.003,0.7,-3.1,-0.041,0.029,1.9,-5.4,-0.001,0
72,5,0,25,-0.7,-5.3,0.021,2.2,6.9,-0.019,-2.7,...,0.027,0.035,2.5,-6.8,-0.022,-0.032,-1.5,-1.1,-0.043,0
290,1,0,-75,-1.9,-5.7,0.008,-0.5,-2.5,0.021,-1.5,...,0.013,0.008,2.1,0.9,0.066,-0.008,1.8,-2.9,0.034,0
79,-9,0,100,1.8,-0.8,0.026,0.8,2.3,-0.003,1.1,...,0.023,0.030,-0.5,1.1,0.015,0.002,-3.4,0.2,-0.043,0
146,-3,0,-25,0.7,0.5,0.006,-2.3,-5.6,-0.016,3.0,...,-0.007,-0.008,-1.7,2.8,0.033,0.007,0.9,0.3,0.079,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,2,0,0,-0.5,-2.3,0.006,-1.8,-4.1,-0.043,1.2,...,0.003,-0.003,0.1,-1.7,0.031,-0.001,0.0,0.3,-0.010,0
319,-15,0,0,-0.1,0.6,-0.005,1.8,4.7,0.005,-1.9,...,0.012,0.005,-1.0,4.1,0.044,0.006,-2.2,0.8,-0.012,0
49,13,0,175,-1.7,0.5,-0.022,0.4,1.2,-0.006,-2.1,...,-0.021,-0.020,0.3,1.8,-0.005,-0.043,2.3,7.1,0.093,0
324,-12,0,50,2.2,1.3,0.020,-0.7,-2.2,0.007,2.9,...,0.008,0.015,-0.6,3.5,-0.008,-0.024,0.8,2.1,-0.015,0
247,3,0,0,0.2,-0.9,0.007,0.2,1.4,-0.018,0.0,...,0.000,0.008,0.5,-1.1,-0.021,-0.014,-2.3,4.8,-0.030,0

In [165]:
ones['winner'] = 1
ones

,Rk,G,MP,FG,FGA,FG%,3P,3PA,3P%,2P,...,3PAr,eFG%,TOV%,ORB%,FT/FGA,TOV%2,DRB%,FT/FGA2,Arena,winner
161,6,0,0,-0.7,0.3,-0.009,2.0,6.6,-0.007,-2.8,...,0.001,0.002,1.2,-2.9,-0.032,0.036,1.7,-3.4,-0.024,1
442,8,0,-75,0.1,-1.8,0.010,-2.9,-8.6,0.009,2.9,...,-0.006,-0.004,0.9,0.3,0.009,0.002,0.7,-0.8,-0.014,1
60,1,0,-25,-0.3,2.1,-0.015,-1.4,-4.5,0.014,1.0,...,-0.018,-0.024,0.1,6.8,0.014,-0.007,2.7,1.7,0.069,1
352,-15,0,25,0.5,-1.6,0.013,2.6,6.9,0.004,-2.1,...,0.024,0.028,0.4,1.5,0.018,0.026,-0.1,0.1,-0.032,1
433,5,0,-200,-1.3,3.2,-0.031,0.6,1.4,0.004,-2.0,...,-0.024,-0.030,-1.0,3.3,0.009,-0.010,-0.8,2.4,0.018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,11,0,75,0.1,2.5,-0.012,0.9,0.7,0.028,-0.8,...,-0.017,-0.009,1.1,0.1,-0.072,-0.007,-0.2,3.8,0.002,1
224,-9,0,125,0.5,0.4,0.003,0.3,1.9,-0.018,0.0,...,0.011,0.006,-0.2,0.0,0.015,0.032,0.9,-6.2,0.036,1
55,-17,0,-175,1.8,1.0,0.015,0.8,2.3,0.006,1.0,...,0.021,0.019,-0.6,1.1,0.013,0.041,-2.2,-4.7,-0.013,1
177,5,0,-125,0.0,-0.6,0.003,-0.8,-2.4,0.005,0.8,...,0.004,-0.001,1.5,-1.1,-0.013,0.002,2.1,-0.1,-0.011,1
298,-13,0,25,2.4,3.0,0.012,0.0,-0.5,0.008,2.4,...,0.005,0.010,-1.1,6.2,-0.001,0.020,1.3,-0.3,0.035,1

In [166]:
#combining both datasets into 1

data = pd.concat([zeros, ones])

In [167]:
data.columns

Index(['Rk', 'G', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA',
       '2P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK',
       'TOV', 'PF', 'PTS', 'Team2', 'Age', 'W', 'L', 'PW', 'PL', 'MOV', 'SOS',
       'SRS', 'ORtg', 'DRtg', 'NRtg', 'Pace', 'FTr', '3PAr', 'eFG%', 'TOV%',
       'ORB%', 'FT/FGA', 'TOV%2', 'DRB%', 'FT/FGA2', 'Arena', 'winner'],
      dtype='object')

In [168]:
#dropping columns that I already know are useless or redundant 

data = data.drop(['Rk', 'G', 'MP', 'FG', '3P', '2P', 'FT', 'TRB', 'PTS', 'Team2', 'L', 'PW', 'MOV', 'SOS', 'SRS', 'NRtg', '3PAr', 'Arena', 'eFG%', 'TOV%', 'ORB%', 'FT/FGA', 'TOV%2', 'DRB%', 'FT/FGA2'], axis=1)
data

,FGA,FG%,3PA,3P%,2PA,2P%,FTA,FT%,ORB,DRB,...,TOV,PF,Age,W,PL,ORtg,DRtg,Pace,FTr,winner
266,-1.0,-0.004,5.0,-0.025,-6.1,0.013,-1.8,-0.088,-1.0,-4.0,...,0.5,-1.2,-25,25,-7.56,4.2,-8.5,-0.017,0.061,0
72,-5.3,0.021,6.9,-0.019,-12.3,0.042,-4.2,0.000,-4.2,3.3,...,2.2,-1.5,11,-11,1.69,-4.1,1.9,-0.029,0.087,0
290,-5.7,0.008,-2.5,0.021,-3.2,0.001,7.6,-0.059,-0.3,-2.0,...,2.4,3.0,4,-4,1.43,-1.6,1.5,0.108,-0.014,0
79,-0.8,0.026,2.3,-0.003,-3.1,0.037,4.0,-0.057,0.0,0.9,...,-0.7,-3.9,10,-10,2.23,3.5,2.1,0.049,0.028,0
146,0.5,0.006,-5.6,-0.016,6.0,0.000,6.1,-0.046,1.5,-2.3,...,-1.8,5.3,0,0,0.70,1.4,0.8,0.069,-0.067,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,2.5,-0.012,0.7,0.028,1.8,-0.029,-8.4,0.023,0.4,1.7,...,1.3,0.0,-6,6,-2.18,-2.2,-2.4,-0.106,0.000,1
224,0.4,0.003,1.9,-0.018,-1.5,0.011,0.1,0.046,-0.2,-4.9,...,-0.2,2.4,-7,7,-4.78,8.1,-5.5,0.000,0.020,1
55,1.0,0.015,2.3,0.006,-1.3,0.021,0.9,0.025,0.7,-2.8,...,-0.6,-1.0,-19,19,-4.46,10.4,-4.6,0.006,0.024,1
177,-0.6,0.003,-2.4,0.005,1.9,-0.002,-4.9,0.079,-1.2,-0.1,...,1.5,-0.8,-6,6,0.82,-3.0,1.1,-0.053,-0.026,1
298,3.0,0.012,-0.5,0.008,3.6,0.010,2.2,-0.040,3.2,-2.8,...,-0.9,2.4,1,-1,1.34,3.8,1.7,0.014,-0.015,1

In [169]:
data.columns

Index(['FGA', 'FG%', '3PA', '3P%', '2PA', '2P%', 'FTA', 'FT%', 'ORB', 'DRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'Age', 'W', 'PL', 'ORtg', 'DRtg',
       'Pace', 'FTr', 'winner'],
      dtype='object')

In [170]:
from sklearn.utils import shuffle 
data = shuffle(data)

In [171]:
y = data['winner']
y

345    1
128    0
300    0
205    0
86     0
      ..
330    0
340    0
355    0
230    1
138    1
Name: winner, Length: 450, dtype: int64

In [172]:
X = data.drop(['winner'], axis=1)
X

,FGA,FG%,3PA,3P%,2PA,2P%,FTA,FT%,ORB,DRB,...,BLK,TOV,PF,Age,W,PL,ORtg,DRtg,Pace,FTr
345,1.1,-0.015,-1.5,-0.020,2.5,-0.017,-3.0,0.037,-0.5,1.7,...,-0.2,0.3,-2.1,-8,8,-1.47,-2.1,-1.9,-0.039,-0.021
128,0.5,0.010,0.7,-0.008,-0.1,0.013,-3.9,-0.001,-0.9,4.8,...,0.6,0.4,-2.4,19,-19,5.54,-6.8,6.2,-0.044,0.006
300,6.4,-0.026,1.4,-0.007,4.9,-0.031,-1.8,0.019,3.2,2.3,...,-0.1,-1.8,-3.2,7,-7,1.06,-0.1,1.2,-0.043,-0.001
205,-2.5,0.013,-4.1,-0.065,1.6,0.019,4.0,0.007,-1.0,-1.5,...,-1.5,-0.4,-0.1,1,-1,0.19,0.9,0.2,0.054,-0.042
86,2.0,-0.032,12.2,-0.008,-10.2,-0.010,-6.2,-0.032,0.0,-0.1,...,1.5,0.2,-4.7,-13,13,-5.87,1.7,-6.3,-0.082,0.141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,1.1,-0.002,-4.4,0.001,5.5,-0.013,-1.9,-0.031,-0.4,-1.0,...,-2.9,-1.0,-0.8,-1,1,-0.14,-3.0,-0.2,-0.027,-0.054
340,0.5,-0.004,-2.7,-0.013,3.2,-0.005,-3.4,0.020,-3.7,-0.5,...,-0.9,-3.2,0.3,-15,15,-3.94,0.9,-4.4,-0.038,-0.030
355,5.4,-0.017,13.8,0.018,-8.3,-0.007,1.0,-0.017,3.5,-0.4,...,-0.8,-2.2,-0.2,13,-12,4.45,3.0,5.0,-0.005,0.139
230,-1.0,-0.020,-8.9,-0.029,8.0,-0.033,4.1,0.041,0.8,-0.3,...,0.3,0.3,4.2,-4,4,-1.38,-3.0,-1.2,0.050,-0.099
138,-2.2,-0.022,-10.0,-0.104,7.9,-0.025,4.9,-0.074,3.0,-1.5,...,0.9,3.4,0.9,-5,5,-1.68,-6.8,-2.0,0.065,-0.111

In [173]:
import matplotlib.pyplot as plt
import seaborn as sns

In [174]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler as ss

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42, shuffle=True)

In [175]:
model1 = make_pipeline(ss(), lr())
model1.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('logisticregression', LogisticRegression())])

In [176]:
model1.score(X_test, y_test)

0.7718120805369127

In [183]:
#80% is pretty good but i'm gonna see if i can do better
from sklearn.feature_selection import SelectKBest, f_classif

X_new = SelectKBest(f_classif, k=17).fit(X_train, y_train)

In [184]:
X_new.transform(X_train)

array([[ 1.00e-02,  3.40e+00,  1.10e-02, ...,  5.30e+00, -5.10e+00,
         5.20e-02],
       [ 2.80e-02,  3.10e+00,  2.40e-02, ...,  4.60e+00, -4.10e+00,
         4.10e-02],
       [-2.00e-02,  2.20e+00, -3.10e-02, ...,  4.90e+00, -5.40e+00,
         2.30e-02],
       ...,
       [-6.00e-03, -7.40e+00,  6.00e-03, ...,  1.50e+00, -2.60e+00,
        -1.05e-01],
       [-5.00e-03,  4.40e+00,  1.00e-03, ..., -9.00e-01,  1.40e+00,
         4.20e-02],
       [ 2.30e-02,  1.70e+00, -2.70e-02, ..., -3.90e+00,  5.80e+00,
         2.50e-02]])

In [185]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42, shuffle=True)
model2 = make_pipeline(ss(), lr())
model2.fit(X_new.transform(X_train), y_train)
model2.score(X_new.transform(X_test), y_test)

0.7785234899328859

In [221]:
#We'll just use model1

model1.predict(X_test.iloc[17, :].to_frame().transpose())[0]

0

In [220]:
y_test[17]

0

In [227]:
X_test

,FGA,FG%,3PA,3P%,2PA,2P%,FTA,FT%,ORB,DRB,...,BLK,TOV,PF,Age,W,PL,ORtg,DRtg,Pace,FTr
108,5.6,0.027,-6.6,0.014,12.2,0.018,-2.3,-0.016,2.4,0.5,...,-1.5,-2.1,-0.3,13,-13,5.36,0.1,5.8,-0.043,-0.088
443,2.1,-0.036,-1.4,-0.005,3.5,-0.065,1.1,-0.026,2.6,-4.8,...,-1.6,0.7,3.6,-19,19,-9.11,4.0,-8.8,0.007,-0.025
30,2.2,0.035,-5.7,-0.040,7.9,0.030,-2.7,-0.010,-0.8,0.2,...,1.2,-2.3,-2.5,10,-10,3.17,0.3,3.8,-0.038,-0.065
335,-3.4,0.014,3.0,0.032,-6.3,0.018,1.9,0.050,-1.5,-2.3,...,2.9,0.9,3.5,6,-6,4.70,-1.2,5.0,0.035,0.043
290,-5.7,0.008,-2.5,0.021,-3.2,0.001,7.6,-0.059,-0.3,-2.0,...,0.6,2.4,3.0,4,-4,1.43,-1.6,1.5,0.108,-0.014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,-0.7,0.021,4.2,0.017,-4.9,0.034,-3.5,0.080,-1.7,0.7,...,0.2,0.3,1.8,13,-13,5.39,-1.0,5.8,-0.037,0.049
1,0.9,-0.020,-1.5,-0.047,2.4,-0.021,2.1,-0.017,1.7,3.1,...,0.5,0.2,1.4,4,-4,2.83,-5.5,3.1,0.021,-0.016
305,-4.6,0.034,-4.8,0.023,0.2,0.027,3.0,-0.024,-1.4,-1.2,...,0.0,1.8,3.3,-4,4,0.62,1.3,0.6,0.051,-0.043
134,3.4,-0.038,13.1,-0.029,-9.7,-0.014,-7.8,-0.002,0.0,-1.4,...,-1.7,0.2,-4.7,-21,21,-7.30,3.2,-8.2,-0.107,0.146
103,-2.2,0.023,5.0,-0.023,-7.1,0.046,-0.1,0.029,-2.2,1.0,...,-0.6,-0.3,-2.4,25,-25,10.50,-7.0,11.1,0.008,0.065

In [226]:
#exporting the model

import pickle
from google.colab import drive 
drive.mount('/content/drive')
DATA_PATH = "/content/drive/MyDrive/"

with open(DATA_PATH+'model.pkl', 'wb') as f:
    pickle.dump(model1, f)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).